{% extends 'base.html' %}


{% block head %}
<title>Assignment</title>
{% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
<p><strong>{{ message }}</strong></p><br>
{% endfor %}
    <h1>Assignment: {{ assignment.name }}</h1>
    <hr>

    <p>{{ assignment.description }}</p>

    <span>
        <a href="{{url_for('assignment_update', classid=clase.id, assid=assignment.id)}}">Edit Lecture</a>
        <a href="{{url_for('assignment_delete', classid=clase.id, assid=assignment.id)}}">Delete Lecture</a>
    </span>


{% endblock %}
