{% extends 'base.html' %}

{% block head %}
<title>Class Detail</title>
{% endblock %}

{% block body %}
<div class="mx-auto col-lg-8 px-0 my-5 text-left">
    <h1 class="display-5 fw-bold lh-1 mb-3">{{clase.name}}</h1>
    {% for user in clase.users %}
        {% if user.isTeacher %}
            <h5>Teacher: {{ user.firstName }} {{ user.lastName }}</h5>
        {% endif %}
    {% endfor %}
</div>
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p><br>
    {% endfor %}
    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
        <h1>Quizzes</h1>
        <hr>
        {% if not clase.quizes[0] %}
            <h4>It looks like there are no quizzes &#128526</h4>
        {% else %}
            {% for quiz in clase.quizes %}
                <a href="{{url_for('quiz_detail', id=quiz.id)}}">{{quiz.name}}</h3>
            {% endfor %}
        {% endif %}
        
        {% if current_user.isTeacher %}
        <br>
            <a class="btn btn-success" href="{{url_for('classes')}}">Add quiz</a>
        {% endif %}
    </div>
            
    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
            <h1>Assignments</h1>
            <hr>
            {% if not clase.assignments[0] %}
                <h4>It looks like there are no assignments &#128526</h4>
            {% else %}
                {% for quiz in clase.quizes %}
                    <a href="{{url_for('quiz_detail', id=quiz.id)}}">{{quiz.name}}</h3>
                {% endfor %}
            {% endif %}

            {% if current_user.isTeacher %}
            <br>
                <a class="btn btn-success" href="{{url_for('classes')}}">Add assignment</a>
            {% endif %}
    </div>

    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
        <h1>Forum</h1>
        <hr>
    </div>

</div>
    
{% endblock %}