{% extends 'base.html' %}

{% block head %}
<title>Classes</title>
{% endblock %}

{% block body %}
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p><br>
    {% endfor %}
    
    {% if current_user.isTeacher %}
        {% for class in lista %}
            <ul>
                <li>
                    <a href="{{url_for('class_detail', id=class.id)}}">{{class.name}}</a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}