{% extends 'base.html' %}

{% block head %}
<title>Class Detail</title>
{% endblock %}

{% block body %}
<div class="mx-auto col-lg-8 px-0 my-5 text-left">
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('classes') }}">Classes</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ clase.name }}</li>
        </ol>
      </nav>

    <h1 class="display-5 fw-bold lh-1 mb-3">{{clase.name}}</h1>
    {% for user in clase.users %}
        {% if user.isTeacher %}
            <h5>Teacher: {{ user.firstName }} {{ user.lastName }}</h5>
        {% endif %}
    {% endfor %}

    <a href="{{ url_for('class_students', id=clase.id) }}">See Students</a>
</div>



    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
        <h1>Quizzes</h1>
        <hr>
        {% if not clase.quizes[0] %}
            <h4>It looks like there are no quizzes &#128526</h4>
        {% else %}
            {% for quiz in clase.quizes %}
                <a href="{{url_for('quiz_detail', id=quiz.id)}}">{{quiz.name}}</h3>
            {% endfor %}
        {% endif %}
        
        {% if current_user.isTeacher %}
        <br>
            <a class="btn btn-success" href="{{url_for('classes')}}">Add quiz</a>
        {% endif %}
    </div> -->
            
    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
        <h1>Lectures</h1>
        <hr>
        {% if not clase.lectures[0] %}
            <h4>It looks like there are no lectures &#128526</h4>
        {% else %}
        <div class="list-group">
            {% for lecture in clase.lectures %}
                <a href="{{url_for('lecture_detail', classid=clase.id, lectid=lecture.id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{lecture.name}}</h5>
                    </div>
                    <p class="mb-1">{{lecture.content}}</p>
                </a>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if current_user.isTeacher %}
        <br>
            <a class="btn btn-success" href="{{url_for('lecture_create', classid=clase.id)}}">Add lecture</a>
        {% endif %}
    </div>

    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
            <h1>Assignments</h1>
            <hr>
            {% if not clase.assignments[0] %}
                <h4>It looks like there are no assignments &#128526</h4>
            {% else %}
            <div class="list-group">
                {% for assignment in clase.assignments %}
                    <a href="{{url_for('assignment_detail', classid=clase.id, assid=assignment.id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{assignment.name}}</h5>
                            <small>Due {{assignment.dateDue}}</small>
                        </div>
                        <p class="mb-1">{{assignment.description}}</p>
                    </a>
                {% endfor %}
            </div>
            {% endif %}

            {% if current_user.isTeacher %}
            <br>
                <a class="btn btn-success" href="{{url_for('assignment_create', classid=clase.id)}}">Add assignment</a>
            {% endif %}
    </div>

    <div class="col-md-10 mx-auto col-lg-8 px-4 py-4 my-5 text-left bg-light rounded-3 border">
        <h1>Forum</h1>
        <hr>
        {% if not clase.forum.blogPosts[0] %}
                <h4>Looks like the forum is empty &#128546</h4>

            {% else %}
                {% for post in clase.forum.blogPosts %}
                    <h3>{{post.title}}</h3>
                    <small>Created by: {{post.user.firstName}} {{post.user.lastName}}</small>
                    <small>Date: {{post.date}}</small>
                    <p>{{post.content}}</p>
                {% endfor %}
            {% endif %}
            <br>
                <a class="btn btn-success" href="{{url_for('blogPost_create', classid=clase.id)}}">Add post</a>
    </div>
        
    </ul>

</div>
    
{% endblock %}