{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}





    <div class="container col-xl-10 col-xxl-8 px-4 py-5">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('classes') }}">Classes</a></li>
              <li class="breadcrumb-item active"><a href="{{ url_for('class_detail', id=clase.id) }}">{{ clase.name }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ lecture.name }}</li>
            </ol>
          </nav>
          
        <h2 class="display-4 fw-bold lh-1 mb-3 text-center">Lecture: {{ lecture.name }}</h1>
            <hr>
            <div class="col-md-10 mx-auto col-lg-8">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <p>{{ lecture.content }}</p>
                {% if current_user.isTeacher %}
                <a class="btn btn-primary" href="{{url_for('lecture_update', classid=clase.id, lectid=lecture.id)}}">Edit lecture</a>
                <a class="btn btn-danger" href="{{url_for('lecture_delete', classid=clase.id, lectid=lecture.id)}}">Delete lecture</a>
                {% endif %}
            </div>
            {% endfor %}
            <p>{{ lecture.content }}</p>
            {% if current_user.isTeacher %}
            <a class="btn btn-primary" href="{{url_for('lecture_update', classid=clase.id, lectid=lecture.id)}}">Edit
                lecture</a>
            <a class="btn btn-danger" href="{{url_for('lecture_delete', classid=clase.id, lectid=lecture.id)}}">Delete
                lecture</a>
            {% endif %}
        </div>
</div>


{% endblock %}