{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <h1>Lecture: {{ lecture.name }}</h1>
    <hr>

    <p>{{ lecture.content }}</p>


    <span>
        <a href="{{url_for('lecture_update', classid=clase.id, lectid=lecture.id)}}">Edit Lecture</a>
        <a href="{{url_for('lecture_delete', classid=clase.id, lectid=lecture.id)}}">Delete Lecture</a>
    </span>





{% endblock %}
