{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}

{% for message in get_flashed_messages() %}
<p><strong>{{ message }}</strong></p><br>
{% endfor %}

    
<h1>Lecture Update</h1>

<form method="POST">

    {{ form.hidden_tag() }}


    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }} <br>
    
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control") }} <br>

    {{ form.submit() }}


</form>



{% endblock %}