{% extends 'base.html' %}

{% block head %}
<title>{{quiz.content}}</title>
{% endblock %}

{% block body %}
<div class="mx-auto col-lg-8 px-0 my-5 text-left">
    <h1 class="display-5 fw-bold lh-1 mb-3">{{quiz.name}}</h1>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <form method='POST'>
        <ol>
            {% for i in questions %}
                <strong><li>{{Question.query.get_or_404(i).content}}</li></strong>
                {% for j in questions[i] %}
                    <input class="form-check-input" type='radio' name="{{i}}" value="{{Answer.query.get_or_404(j).id}}" id="{{j}}"/>&nbsp;{{Answer.query.get_or_404(j).content}}
                    <br>
                {% endfor %}
                <br>
            {% endfor %}
        </ol>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}