{% extends 'base.html' %}

{% block head %}
<title>Answers</title>
{% endblock %}

{% block body %}
<div class="mx-auto col-lg-8 px-0 my-5 text-left">
    <h1 class="display-5 fw-bold lh-1 mb-3">{{quiz.name}}</h1>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h2>You got {{correct}} out of {{answered|length}} questions correct!</h2>
    <h3>Your score is: {{score}}</h3>
    <br>
    <ol>
        {% for i in questions %}
            <strong><li>{{Question.query.get_or_404(i).content}}</li></strong>
            {% for j in questions[i] %}
                {% if j|int == (answered.get(i|string)|int) %}
                    <input class="form-check-input" type='radio' name="{{i}}" value="{{Answer.query.get_or_404(j).id}}" id="{{j}}" checked='True' disabled='True'/>&nbsp;{{Answer.query.get_or_404(j).content}}<br>
                {% else %}
                    <input class="form-check-input" type='radio' name="{{i}}" value="{{Answer.query.get_or_404(j).id}}" id="{{j}}" disabled='True'/>&nbsp;{{Answer.query.get_or_404(j).content}}<br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>

</div>
{% endblock %}