{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block body %}

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h2 class="display-4 fw-bold lh-1 mb-3 text-center">Quiz: {{ quiz.name }}</h1>
            <hr>
            <div class="col-md-10 mx-auto col-lg-8">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <ol>
                    {% for question in quiz.questions %}
                    <strong><li>{{ question.content }}</li></strong>
                            {% for answer in question.answers %}
                                <p>{{ answer.content }}</p>
                            {% endfor %}
                        {% endfor %}
                </ol>
            </div>

            <div>
                {% if current_user.isTeacher %}
                <a class='btn btn-success float-end' href="{{url_for('question_create', classid=clase.id, quizid=quiz.id)}}">Create Question</a>
                {% else %}
                <a class='btn btn-success float-end' href="{{url_for('quiz_respond', classid=clase.id, quizid=quiz.id)}}">Respond Quiz</a>
                {% endif %}
            </div> 
    </div>


{% endblock %}