{% extends 'base.html' %}

{% block head %}
<title>Answers</title>
{% endblock %}

{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <form method='POST'>
        <ol>
            {% for i in questions %}
                <li>{{i.content}}</li>
                {% for j in questions[i] %}
                    <input type='radio' name="{{i.id}}" value="{{j.content}}" id="{{j.id}}"/>{{j.content}}<br>
                {% endfor %}
            {% endfor %}
        </ol>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}