{% extends 'base.html' %}


{% block head %}
<title>Submission</title>
{% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <h2 class="display-4 fw-bold lh-1 mb-1 text-center">Assignment: {{ assignment.name }} - Submission</h1>
    </div>
    <hr>
    <div class="col-md-10 mx-auto col-lg-5 px-4 py-4 my-0 text-center bg-light rounded-3 border">
        <div class="col-lg-6 mx-auto">
            <h6>Submission:</h6>
                <p>{{ submission.content }}</p>
                <h6>Author:</h6>
                <p>{{ author.firstName }}</p>
                {% if submission.grade %}
                <h6>Grade:</h6>
                <p>{{ submission.grade }}</p>
                {% endif %}


                {% if current_user.isTeacher %}
                <a class="btn btn-primary" href="{{ url_for('submission_grade',classid=clase.id, assid=assignment.id, subid=submission.id ) }}">Grade</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('submission_update',classid=clase.id, assid=assignment.id, subid=submission.id) }}">Editar</a>
                <a class="btn btn-danger" href="{{ url_for('submission_delete' ,classid=clase.id, assid=assignment.id, subid=submission.id) }}">Eliminar</a>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
