{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}
    
    <div class="container col-xl-10 col-xxl-8 px-4 py-5 text-center">
    {%  for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


        <h2 class="display-4 fw-bold lh-1 mb-3 text-center">Grade Submission</h1>
            <br>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
                        {{ form.hidden_tag() }}
                        
                        {{ form.grade.label() }}
                        {{ form.grade() }}
                        
                        {{ form.submit() }}
                        <!-- <input type="number" name="grade" id="grade">
                        <input type="submit" value="Grade"> -->
                </form>
            </div>
    </div>

{% endblock %}
